:root{
    --bgColor: #F6F4F7;
    --black-900: #171618;
    --gray-300: #6A696B;
    --gray-200: #99989A;
    --gray-100: #CBCACD;
    --details: #AE0505;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #ae0505;
}